{{#if foobar}}
    <li class="date">
        {{input value=date}}
    </li>    
    <li class="desc">
      {{input value=description}}
    </li>
    <li class="account">
      {{#link-to 'account' model.fromAccountId}}
        {{model.fromAccountId.name}}
      {{/link-to}}
    </li>
    <li class="account">
      {{#link-to 'account' model.toAccountId}}
        {{model.toAccountId.name}}
      {{/link-to}}
    </li>
    <li class="hdr_funds">
      {{input value=model.amount}}
    </li>
    <li class="hdr_funds">balance</li>
    <li>
      <button {{ action 'save'}} > Save {{model.id}}</button>
    </li>
{{else}}
    <li class="date">
        {{date}}
    </li>
    <li class="desc">
      {{model.description}}
    </li>
    
    <li class="account">
      {{#link-to 'account' model.fromAccountId}}
        {{model.fromAccountId.name}}
      {{/link-to}}
    </li>
    <li class="account">
      {{#link-to 'account' model.toAccountId}}
        {{model.toAccountId.name}}
      {{/link-to}}
    </li>
    
    <li class="hdr_funds">
      {{amount}}
    </li>
    <li class="hdr_funds">{{total}}</li>
    <li>
      <button {{ action 'edit'}} > edit {{model.id}}</button>
    </li>
{{/if}}